<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <button id="b1" type="button">test</button>
        <input type="text" id="i1" width="">
        <p id="p1"></p>
 
        <div id="d1">
            <p><span data-ja="サーバー">サーバー</span>: <select id="server"><option value="jp">Japan</option><option value="kr">Korea</option><option value="as">Asia</option><option value="na">North America</option><option value="eu">Europe</option><option value="gl">Global</option></select></p>
            <p><span data-ja="ワールド">ワールド</span>: <select id="world"></select></p>
            <gvg-viewer local="">
                <gvg-castle temple="" castle-id="1">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>REsKend</gvg-status-bar-offense>
                    <gvg-status-bar-defense>サリンジャー</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>44</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="ブラッセル">ブラッセル</gvg-castle-name>
                </gvg-castle>
                <gvg-castle castle="" castle-id="2">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>戒めの赤袋爺</gvg-status-bar-offense>
                    <gvg-status-bar-defense>9/POSTER</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>92</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="ウィスケルケー">ウィスケルケー</gvg-castle-name>
                </gvg-castle>
                <gvg-castle castle="" castle-id="3">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>サリンジャー</gvg-status-bar-offense>
                    <gvg-status-bar-defense>REsKend</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>129</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="モダーヴ">モダーヴ</gvg-castle-name>
                </gvg-castle>
                <gvg-castle castle="" castle-id="4">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>サリンジャー</gvg-status-bar-offense>
                    <gvg-status-bar-defense>戒めの赤袋爺</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>183</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="シメイ">シメイ</gvg-castle-name>
                </gvg-castle>
                <gvg-castle castle="" castle-id="5">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>凛として時雨</gvg-status-bar-offense>
                    <gvg-status-bar-defense>メメ温泉99番地</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>19</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="グラベンスティン">グラベンスティン</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="6">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>戒めの赤袋爺</gvg-status-bar-offense>
                    <gvg-status-bar-defense>凛として時雨</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>255</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="カンブル">カンブル</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="7">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>9/POSTER</gvg-status-bar-offense>
                    <gvg-status-bar-defense>電気羊の夢を見る</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>256</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="クインティヌス">クインティヌス</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="8">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>9/POSTER</gvg-status-bar-offense>
                    <gvg-status-bar-defense>電気羊の夢を見る</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>119</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="ランベール">ランベール</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="9">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>引きちぎられたヒレ</gvg-status-bar-offense>
                    <gvg-status-bar-defense>9/POSTER</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>126</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="サンジャック">サンジャック</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="10">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>凛として時雨</gvg-status-bar-offense>
                    <gvg-status-bar-defense>戒めの赤袋爺</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>10</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="ミヒャエル">ミヒャエル</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="11">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>魔法の琥珀</gvg-status-bar-offense>
                    <gvg-status-bar-defense>9/POSTER</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>3</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="ナミュール">ナミュール</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="12">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>REsKend</gvg-status-bar-offense>
                    <gvg-status-bar-defense>独立国家わちゃわちゃ</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>386</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="シャルルロア">シャルルロア</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="13">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>独立国家わちゃわちゃ</gvg-status-bar-offense>
                    <gvg-status-bar-defense>カルデア</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>148</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="アルゼット">アルゼット</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="14">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>独立国家わちゃわちゃ</gvg-status-bar-offense>
                    <gvg-status-bar-defense>星喰</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>151</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="エノー">エノー</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="15">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>ウロボロス鎮魂歌</gvg-status-bar-offense>
                    <gvg-status-bar-defense>星喰</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>245</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="ワーヴル">ワーヴル</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="16">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>独立国家わちゃわちゃ</gvg-status-bar-offense>
                    <gvg-status-bar-defense>ウロボロス鎮魂歌</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>95</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="モンス">モンス</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="17">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>ウロボロス鎮魂歌</gvg-status-bar-offense>
                    <gvg-status-bar-defense>黒魔女のお茶会</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>8</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="クリストフ">クリストフ</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="18">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>黒魔女のお茶会</gvg-status-bar-offense>
                    <gvg-status-bar-defense>ウロボロス鎮魂歌</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>1</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="コルトレイク">コルトレイク</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="19">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>黒魔女のお茶会</gvg-status-bar-offense>
                    <gvg-status-bar-defense>戒めの赤袋爺</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>182</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="イーペル">イーペル</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="20">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>メメ温泉99番地</gvg-status-bar-offense>
                    <gvg-status-bar-defense>凛として時雨</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>88</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="サルヴァトール">サルヴァトール</gvg-castle-name>
                </gvg-castle>
                <gvg-castle church="" castle-id="21">
                  <gvg-status neutral="">
                    <gvg-status-bar-offense>メメ温泉99番地</gvg-status-bar-offense>
                    <gvg-status-bar-defense>凛として時雨</gvg-status-bar-defense>
                    <gvg-status-icon-offense>0</gvg-status-icon-offense>
                    <gvg-status-icon-defense>66</gvg-status-icon-defense>
                  </gvg-status>
                  <gvg-castle-icon></gvg-castle-icon>
                  <gvg-castle-name data-ja="バーフ">バーフ</gvg-castle-name>
                </gvg-castle>
              </gvg-viewer>
            <p id="error"></p>
        </div>

        <script defer src="/scripts/script.js?v=0.14"></script>
        <script type="text/javascript">
      fetch(`https://api.mentemori.icu/worlds`)
      .then(resp => resp.json())
      .then((worlds) => {
        const update_current_server = () => {
          const world_node = document.querySelector('#world');
          const current_server = document.querySelector('#server').value;
          for (const child of [...world_node.children]) {
            world_node.removeChild(child);
          }
          for (const world of worlds.data) {
            if (!world.localgvg) continue;
            if (world.server != current_server) continue;
            const option = document.createElement('option');
            option.value = world.world_id;
            option.innerText = `W${world.world_id % 1000}`;
            world_node.appendChild(option);
          }
          const wupdate = (world_id) => update({
            WorldId: +world_id,
            GroupId: 0,
            Class: 0,
            Block: 0,
          });
          document.querySelector('#world').onchange = (e) => wupdate(e.target.value);
          wupdate(document.querySelector('#world').value);
        };
        document.querySelector('#server').onchange = update_current_server;
        update_current_server();
      });

      document.getElementById("b1").addEventListener("click", (e)=>{
        fetch("./test",{
          method:"POST"
        })
      });
        </script>
    </body>
</html>