<!DOCTYPE html>
<html lang="ja">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>meme</title>
        <meta name="description" content="meme-mori useful tools" />
        <meta name="robots" content="noindex,nofollow" />

        <meta property="og:url" content="{{.Path}}" />
        <meta property="og:title" content="meme-gvg" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="gvg-records" />
        <meta property="og:image" content="" />
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="" />
        <meta property="og:site_name" content="meme" />
        <meta property="og:locale" content="ja_JP" />
        <meta property="fb:app_id" content="" />

        <!--<link rel="canonical" href="" /> -->

        <link rel="icon" href="/public/views/images/icon/natasha_as1.png" sizes="16x16" type="image/png" />
        <link rel="icon" href="/public/views/images/icon/natasha_as1.png" sizes="32x32" type="image/png" />
        <link rel="icon" href="/public/views/images/icon/natasha_as1.png" sizes="48x48" type="image/png" />
        <link rel="icon" href="/public/views/images/icon/natasha_as1.png" sizes="62x62" type="image/png" />
        <link rel="shortcut icon" href="" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" href="" />
        <!--150x150-->
        <meta name="msapplication-TileImage" content="" />
        <meta name="msapplication-TileColor" content="#ffffff" />

        <link rel="stylesheet" href="/public/views/styles/share.css?v=0.1" />
        <link rel="stylesheet" href="/public/views/styles/index.css?v=0.1" />
    </head>
    <body>
        <h1>Hello from Fly</h1>
        {{if .Region}}
            <h2>I'm running in the {{.Region}} region</h2>
        {{end}}
        <input type="text" id="i1">
        <button type="button" id="b1">btn</button>

        <script defer src="/public/views/scripts/script.js?v=0.2"></script>
    </body>
</html>
